.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  color: white;
  text-transform: capitalize;
  background-image: url('/background.svg');
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.wrapper{
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greet{
  font-size: 1.5rem;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(to right, #FF9933, #FFFFFF, #0fad00 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}