.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  color: white;
  text-transform: capitalize;
}
.wrapper{
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
